@font-face
    {font-family: 'urw-book-l-gothic';
    src: url('urw_gothic_l_book.ttf');}
    
body
    {background-image: url('prime-background.png');
    margin: 0px;}

header img,
h1,
p
    {color: black;
    opacity: 0.85;}

header img
    {width: 33%;
    position: absolute;
    top: 33%;
    left: 50%;
    margin-left: -16.5%;}

h1
    {text-transform: uppercase;
    font-size: 4em;
    margin-left: 1em;
    text-align: center;
    width:5%;
    font-family: urw-book-l-gothic;}

ul
    {padding: 0px;}
ul,
p,
pre
    {margin-left: 4em;}
    
#content
    {position: absolute;
    top: 100%;}
    


